#viewport {
    position: relative;
    width: 840px;
    height: 600px;
}

canvas {
    background-color: transparent;
}

#background {
    width: 840px;
    height: 600px;
    border: 5px solid black;
    position: absolute;
    z-index: 0;
}

#otherPlayers {
    width: 840px;
    height: 600px;
    border: 5px solid green;
    position: absolute;
    z-index: 1;
}

#player {
    width: 840px;
    height: 600px;
    border: 5px solid green;
    position: absolute;
    z-index: 2;
}

#overlay {
    width: 840px;
    height: 600px;
    border: 5px solid black;
    position: absolute;
    z-index: 3;
}

#title {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#subheader {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top: 3px;
    margin-top: 3px;
}