html
    head
        title A multiplayer game
        script(src="/socket.io/socket.io.js")
        link(rel='stylesheet', href='/static/css/index.css')
        script.
            var pname = '#{name}';
    body
        h1 Hello World  
        h3 Pug is in here boiii
        p You are #{name}
        div(style="position: relative;")
            canvas(id="canvas")
            canvas(id="otherPlayers")
            canvas(id="player")
    script(src="/static/game.js")