html
    head
        title A multiplayer game
        script(src="/socket.io/socket.io.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/static/customContextMenu.js")
        link(rel='stylesheet', href='/static/css/index.css')
    body
        h1 PatLand
        button Toggle
        p Welcome to game
        div(id="viewport")
            canvas(id="background")
            canvas(id="otherPlayers")
            canvas(id="player")
            canvas(id="overlay")
        script(src="/static/game.js")
    