html
    head
        title A multiplayer game
        script(src="/socket.io/socket.io.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://kit.fontawesome.com/b6abf5ebcd.js" crossorigin="anonymous")
        script(src="/static/const.js")
        script(src="/static/location.js") 
        script(src="/static/onGameJoin.js")
        link(rel='stylesheet', href='/static/css/index.css')
    body
        div(id="viewport")
            h1(id="title") Pat Land
            p(id="subheader") By pat
            canvas(id="tileMarker")
            div(id="screen1")
                canvas(id="background")
                canvas(id="structure")
                canvas(id="otherPlayers")
                canvas(id="player")
                canvas(id="overlay")
            div(id="rightside")
                div(id="itemArea")
                canvas(id="inv")
                canvas(id="crafting")
        script(src="/static/controls.js")
        script(src="/static/game.js")
        script(src="/static/customContextMenu.js")
        script(src="/static/coordinateInfo.js")
        script(src="/static/inventory.js")
        script(src="/static/crafting.js")

        img(id="click" src="/static/img/circle.png")
        img(id="select" src="/static/img/select.png")
        img(id="selectedBuild")
